body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* white background */
    color: #333; /* Dark red text */
    margin: 0;
    padding: 0;
}

header {
    background-color: #7FB8A4; /* Muted Teal */
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

    header img {
        width: 7vh;
        height: 7vh;
    }

    header h1 {
        font-size: 2em; /* Increase font size */
        font-weight: bold; /* Make the font bold */
        color: #333; /* Dark color for the title */
        letter-spacing: 0.5px; /* Add letter spacing */
        text-transform: uppercase; /* Optional: Make the text uppercase */
        flex: 1;
        text-align: center;
        margin: 15px 0;
    }

    header nav {
        display: flex;
        gap: 20px; /* Space between the links */
    }

        header nav a {
            text-decoration: none;
            color: #FFFFFF; /* Color for the links */
            font-size: 1em;
            font-weight: bold; /* Optional: Bold links */
            transition: color 0.3s; /* Smooth transition for hover effect */
        }

            header nav a:hover {
                color: #555555; /* Change color on hover */
            }

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    header {
        flex-direction: column; /* Stack elements vertically on small screens */
        text-align: center;
    }

        header img {
            margin-bottom: 10px; /* Add space below the logo */
        }

        header nav {
            flex-direction: column; /* Stack nav links vertically */
            gap: 10px; /* Adjust gap for smaller screens */
        }

        header h1 {
            position: static; /* Reset position for smaller screens */
        }
}

@media (min-width: 769px) {
    header h1 {
        text-align: left; /* Align text to left for larger screens */
        margin-left: 20px; /* Add space to the left of the text */
    }

    header nav {
        flex-direction: row; /* Horizontal nav links for larger screens */
    }
}


section {
    padding: 40px 20px;
    text-align: center;    
    border-bottom: 1px solid #C5C5C5; /* Warm Gray */
    height:60vh;
}

    section.active {
        background-color: #FFF4B3; /* Soft Yellow section background */
    }

hr {
    border: 0;
    border-top: 1px solid #7FB8A4; /* Muted Teal */
    margin: 20px 0; /* Adjust as needed */
}