#highlights {
    margin: 1rem 1rem;
    height: auto;
    background-color: #f9f9f9;
    text-align: center;
}

    #highlights h2 {
        font-size: 2em; /* Increase font size */
        font-weight: bold; /* Make the font bold */
        color: #004d40; /* Dark color for the title */
        margin-bottom: 30px; /* Add space below the title */
        text-transform: uppercase; /* Optional: Make the text uppercase */
        letter-spacing: 2px; /* Add letter spacing */
        border-bottom: 2px solid #7FB8A4; /* Optional: Add an accent color underline */
        display: inline-block; /* To apply the underline only as wide as the text */
        padding-bottom: 10px; /* Space between text and underline */
        margin-top: 0;
        margin-bottom: 2rem;
    }

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px; /* Adjust as needed */
}

/* Responsive adjustments for mobile screens */
@media (max-width: 900px) {
    .card-container {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center align cards */
    }
}