<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Highlights</title>
    <link rel="stylesheet" href="highlights.css">
   <!-- Import card CSS -->
</head>
<body>
    <section id="highlights">
        <h2>Highlights</h2>
        <div class="card-container">
            <div class="card">
                <h3>5+ flexible packaging plant installations</h3>
                <img src="../../assets/images/highlights/plant_installation.jpg" alt="Card Image 1">
                <p>Independently executed new plant installations and machinery commissioning while ensuring compliance with safety protocols and industry standards</p>
            </div>
            <div class="card">
                <h3>30+ years of experience in machine maintenance</h3>
                <img src="../../assets/images/highlights/maintenance.jpg" alt="Card Image 2">
                <p>Hands on experience of various machinery for printing, packaging, power transmission, signal transmission, power supply and maintenance equipment</p>
            </div>
            <div class="card">
                <h3>Trained 100+ junior maintenance staff </h3>
                <img src="../../assets/images/highlights/staff_training.jpg" alt="Card Image 3">
                <p>Trained staff to tackle machine breakdown and apply reliable fixes while educating them about best practices to operate machines</p>
            </div>
        </div>
    </section>
</body>
</html>
