<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link rel="stylesheet" href="services.css">
</head>
<body>
    <section id="services">
        <h2>Services</h2>
        <p>Apart from end-to-end <b>flexible packaging plant installation</b>, we also provide <b>emergency machine repair assistance</b> as well as <b>operational guidance</b> and <b>training</b> to achieve compliance and peak plant performance.</p>
        <div class="item-grid">
            <div class="item">Plant installation and commissioning</div>
            <div class="item">Maintenance Management</div>
            <div class="item">Training and Development</div>
            <div class="item">Process and Quality Improvement</div>
            <div class="item">Utility Management & cost optimization</div>
            <div class="item">Designing Automation and Control Systems</div>
            <div class="item">Safety and Compliance implementation</div>
            <div class="item">Nucleonic gauges installation and servicing</div>
        </div>
    </section>
</body>
</html>
