<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <section id="about">        
        <div class="about-container">
            <div class="about-content">
                <h2>What we stand for</h2>
                <div class="features">
                    <div class="feature">
                        <div class="feature-icon">
                            <img src="path/to/responsive-icon.png" alt="Responsive Icon">
                        </div>
                        <h3>Responsive</h3>
                        <p>Lorem ipsum dolor sit amet elit do, consectetur adipisicing, sed eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <img src="path/to/quality-icon.png" alt="Quality Icon">
                        </div>
                        <h3>Quality</h3>
                        <p>Lorem ipsum dolor sit amet elit do, consectetur adipisicing, sed eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <img src="path/to/support-icon.png" alt="Support Icon">
                        </div>
                        <h3>Support</h3>
                        <p>Lorem ipsum dolor sit amet elit do, consectetur adipisicing, sed eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
