.about-container {
    background-color: #FFFFFF;
    padding: 60px 20px;
    text-align: center;
    background-image: url('../../assets/images/about/about-background.jpg'); /* Add your image path here */
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: #FFFFFF; /* Change text color to white for better contrast against the background image */
}

.about-content {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background to improve text readability */
    padding: 20px;
    border-radius: 10px; /* Optional: Rounded corners for the content box */
    display: inline-block;
}

    .about-content h2 {
        font-size: 2em;
        margin-bottom: 40px;
        color: #FFFFFF; /* White color for the title */
    }

    .about-content p {
        font-size: 1em;
        color: #FFFFFF; /* White color for the paragraph */
    }
